body {
  background-color: #e9ece2;
}

.App {
  margin: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  color: #343547;
}

h1 {
  font-size: 2.215rem;
}
ul.bigMenu {
  padding: 0;
}
.smallMenu {
  display: none;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1f6c90;
  color: #eeeeee;
}
/* @media only screen and (max-width: 600px) {
  li.menuItems {
    display: none;
  }

  .smallMenu {
    display: block;
  }
} */
