body {
  background-color: #e9ece2;
}

.App {
  margin: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  color: #343547;
}

.contact {
  float: right;
}

h1 {
  font-size: 2.215rem;
  max-width: 100vw;
}
ul.bigMenu {
  padding: 0;
}
.smallMenu {
  display: none;
}

td {
  padding: 0.46em;
}

tr:nth-child(even) {
  background-color: #efefef;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding: 8px;
  width: 100vw;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1f6c90;
  color: #eee;
}

@media only screen and (max-width: 700px) {
  .contact {
    float: none;
  }
  .App {
    margin: auto;
    max-width: 90vw;
    color: #343547;
  }
}
